<mat-toolbar color="primary" class="flex justify-between items-center">
  <div class="px-16 py-4 text-sm">
    <span
      routerLink="/user"
      routerLinkActive="active"
      class="mr-8 px-4 py-2 hover:bg-purple-700"
      >Users</span
    >
    <span
      class="px-4 py-2 hover:bg-purple-700"
      routerLink="/add-user"
      routerLinkActive="active"
      >Add Users</span
    >
  </div>
  <div class="flex p-0 m-0 p-2">
    <mat-icon class="mx-4">settings_applications</mat-icon>
    <mat-icon class="mx-4">exit_to_app</mat-icon>
  </div>
</mat-toolbar>
<div class="m-auto h-screen max-w-7xl">
  <router-outlet></router-outlet>
</div>
