<div class="grid gap-4 grid-rows-3 w-3/6 m-auto mt-8">
  <mat-form-field>
    <mat-label>firstName</mat-label>
    <input title="firstname" [(ngModel)]="firstName" required matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>lastName</mat-label>
    <input title="lastname" [(ngModel)]="lastName" required matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input title="email" [(ngModel)]="email" required matInput />
  </mat-form-field>

  <button
    (click)="setValue()"
    [disabled]="!firstName || !lastName || !email"
    mat-raised-button
    color="primary"
    class="w-3/6 m-auto"
  >
    {{ mode == "detail" ? "Update" : "Create User" }}
  </button>
</div>
