<!-- <table mat-table [dataSource]="employees" class="bg-indigo-500 w-full mt-8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>FirstName</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>LastName</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="emailId">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <span class="text-center"
        ><mat-icon
          (click)="onDelete(element.id)"
          matTooltip="Delete"
          class="mr-2"
          >delete_outline</mat-icon
        >
        <mat-icon [routerLink]="['/user', element.id]" matTooltip="Mail"
          >mail_outline</mat-icon
        ></span
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
<div class="text-center text-3xl m-4 normal">Users List</div>
<div
  *ngFor="let user of employees"
  class="border-2 p-6 m-0.5 w-full hover:bg-gray-100"
>
  <div class="grid gap-4 grid-cols-3">
    <span class="text-xl">{{ user.firstName }} {{ user.lastName }}</span>
    <span class="text-center">{{ user.emailId }}</span>
    <span class="text-center"
      ><mat-icon (click)="onDelete(user.id)" matTooltip="Delete" class="mr-2"
        >delete_outline</mat-icon
      >
      <mat-icon [routerLink]="['/user', user.id]" matTooltip="Edit"
        >mail_outline</mat-icon
      ></span
    >
  </div>
</div>
